.base-condition-row {
    margin-bottom: 32px;
}

app-work-selector {
    margin-left: 15px;
    width: 100%;
    margin-right: 15px;
}

app-index-selector {
    margin-right: 15px;
    width: 100px;
}