<mat-card class="mat-elevation-z0">
    <mat-toolbar>
        <mat-toolbar-row class="mat-elevation-z8 work-selector-toolbar">
            <app-work-selector></app-work-selector>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>
<mat-card class="mat-elevation-z0">
    <ng-container *ngIf="chunk">
        <app-result-chunk-set [chunk]="chunk"></app-result-chunk-set>
    </ng-container>
    <ng-container *ngIf="!chunk && currentIndex">
        <mat-card class="card mat-elevation-z2 result-card">
            <mat-card-content class="result-content">
                <span class="chunk-info">[{{currentIndex.name}}] Textus deest</span>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <mat-paginator *ngIf="header" [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="paginateChange($event)"></mat-paginator>
</mat-card>