<mat-card class="mat-elevation-z0">
    <mat-toolbar class="mat-elevation-z8 work-selector-toolbar">
        <button mat-icon-button color="primary" (click)="showWorkSelector()">
            <mat-icon svgIcon="library"></mat-icon>
        </button>
        <div *ngIf="header">{{header.code}}</div>
        <span class="spacer"></span>
        <mat-paginator *ngIf="header" [hidePageSize]="true" [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="false" (page)="paginateChange($event)"></mat-paginator>
        <button *ngIf="header" mat-icon-button [color]='"primary"' (click)="openIndex($event)" matTooltip="Index Operis">
            <mat-icon svgIcon="toc"></mat-icon>
        </button>
        <mat-slide-toggle ariaLabel="Versio" [matTooltip]="showVersionTooltip" color="primary" (toggleChange)="showHideVersio()"></mat-slide-toggle>
    </mat-toolbar>
</mat-card>
<mat-card class="mat-elevation-z0">
    <ng-container *ngIf="chunk">
        <app-result-chunk-set [chunk]="chunk" [showInterp]="showVersion"></app-result-chunk-set>
    </ng-container>
    <ng-container *ngIf="!chunk && currentIndex">
        <mat-card class="card mat-elevation-z0 result-card">
            <mat-card-content class="result-content">
                <span class="chunk-info">Textus deest [{{currentIndex.name}}]</span>
            </mat-card-content>
        </mat-card>
    </ng-container>
</mat-card>