.empty-interp {
    color: #f32308;
}

.index-name,
.header-code {
    color: gray;
}

.chunk-menu {
    float: right;
}

.result-content {
    word-break: break-all;
}

app-chunk-menu {
    width: 100%;
}