.card-header {
    font-size: 16px;
    height: 40px;
}

.interp-card {
    background-color: silver;
}

.card-title {
    font-size: 14px !important;
}

.empty-interp {
    color: #f32308;
}

.result-content {
    word-break: break-all;
}