.empty-interp {
    color: #f32308;
}

.index-name,
.header-code {
    color: #a4a4a4;
}

mat-card-header {
    flex: auto;
}

.result-content {
    word-break: break-all;
}

app-chunk-menu {
    width: 100%;
}

.mat-card-title {
    flex: auto;
}