<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let index" matTreeNodeToggle>
        <li>
            <button mat-icon-button disabled></button>
            <button mat-button (click)="selectIndex(index)">{{index.name}}</button>
            <app-index-menu [indexTreeNode]="index"></app-index-menu>
        </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let index; when: hasChild">
        <li>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + index.name">
                <mat-icon class="mat-icon-rtl-mirror"
                    svgIcon="{{treeControl.isExpanded(index) ? 'expand_more' : 'chevron_right'}}"></mat-icon>
            </button>
            <button mat-button (click)="selectIndex(index)">{{index.name}}</button>
            <app-index-menu [indexTreeNode]="index"></app-index-menu>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(index)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>