<mat-toolbar class="chunk-toolbar" *ngIf="indexTreeNode !== undefined">
    <mat-chip-list aria-label="Text Index">
        <mat-chip>{{indexTreeNode.name}}</mat-chip>
      </mat-chip-list>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Add Text" (click)="addText()">
        <mat-icon svgIcon="add"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Edit Text" (click)="editText()">
        <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete Text" (click)="deleteText()">
        <mat-icon svgIcon="delete"></mat-icon>
    </button>
</mat-toolbar>