.title{
  color: gray;
  cursor: pointer;
}
.index-title{
  color:gray;
  cursor: pointer;
  margin-right:5px;
}
.chunk{
  margin-right: 20px;
  margin-left: 20px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}