.title{
  margin-left:10px;
  color: blue;
  cursor: pointer;
}
.index-title{
  color: blue;
  cursor: pointer;
  margin-left:10px;
}
.chunk{
  margin-right: 20px;
  margin-left: 20px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}