.chunk{
  margin-right: 20px;
  margin-left: 20px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}
.interp-card{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e7e40d;
}
.empty-interp{
  color: #f32308;
}