<mat-card>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Opera</span>
            <span class="spacer"></span>
            <button mat-icon-button color="primary" aria-label="Claudere" (click)="closeOpera()">
                <mat-icon svgIcon="close"></mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-content>
        <mat-selection-list *ngIf="projectGroups" [formControl]="headerSelector" color="primary" class="input-field-full-width author-selector" multiple>
            <div *ngFor="let group of projectGroups">
                <h3>{{group.code}}</h3>
                <mat-list-option class="work-item" *ngFor="let header of group.headers" [value]="header.id">
                    {{header.code}}</mat-list-option>
                <mat-divider></mat-divider>
            </div>
        </mat-selection-list>
    </mat-card-content>
</mat-card>