<mat-card>
    <mat-card-header>
        <mat-card-title>Auctores et Opera</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list *ngIf="projectGroups" [formControl]="headerSelector" color="primary" class="input-field-full-width author-selector" multiple>
            <div *ngFor="let group of projectGroups">
                <div mat-subheader>{{group.code}}</div>
                <mat-list-option class="work-item" *ngFor="let header of group.headers" [value]="header.id">{{header.code}}</mat-list-option>
                <mat-divider></mat-divider>
            </div>
        </mat-selection-list>
    </mat-card-content>
</mat-card>