<mat-card class="mat-elevation-z0">
    <mat-toolbar>
        <mat-toolbar-row class="mat-elevation-z8 base-condition-row">
            <app-base-condition></app-base-condition>
        </mat-toolbar-row>
        <mat-toolbar-row class="mat-elevation-z4">
            <app-form-condition></app-form-condition>
        </mat-toolbar-row>
        <mat-toolbar-row class="mat-elevation-z4">
            <app-word-comb-condition></app-word-comb-condition>
        </mat-toolbar-row>
        <mat-toolbar-row class="mat-elevation-z4">
            <app-distance-condition></app-distance-condition>
        </mat-toolbar-row>
        <mat-toolbar-row class="mat-elevation-z4">
            <app-morph-condition-panel></app-morph-condition-panel>
        </mat-toolbar-row>
        <mat-toolbar-row class="mat-elevation-z4">
            <app-work-condition-panel></app-work-condition-panel>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>