<mat-toolbar>
    <button mat-icon-button color="primary" matTooltip="{{conditionPaneButtonTooltip}}" (click)="showHideConditionPane()">
        <mat-icon svgIcon="{{conditionPaneIcon}}"></mat-icon>
    </button>
    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
    <app-base-condition></app-base-condition>
    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
    <button mat-icon-button color="primary" matTooltip="{{commentPaneButtonTooltip}}" (click)="showHideCommentPane()">
        <mat-icon svgIcon="{{commentPaneIcon}}"></mat-icon>
    </button>
</mat-toolbar>