app-base-condition {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

app-word-comb-condition {
    width: 100px;
}

app-distance-condition {
    width: 50px;
}

app-morph-condition-panel {
    width: 100%;
}

app-work-condition-panel {
    width: 100%;
}

.base-condition-row {
    margin-bottom: 32px;
}