<div style="width: 100%; height: 100%">
  <as-split [useTransition]="true" direction="horizontal">
    <as-split-area [minSize]="conditionPaneSize" [maxSize]="conditionPaneSize" [size]="conditionPaneSize">
      <app-condition-toolbar (onShowWork)="showWorks()" (onShowMorph)="showMorph()"></app-condition-toolbar>
      <ng-template [ngIf]="conditionType == 1">
        <app-morph-condition></app-morph-condition>
     </ng-template>
     <ng-template [ngIf]="conditionType == 0">
      <app-work-condition></app-work-condition>
   </ng-template>
    </as-split-area>
    <as-split-area [size]="searchResultPaneSize">
      <app-search-toolbar></app-search-toolbar>
      <app-result-table></app-result-table>
    </as-split-area>
    <as-split-area [minSize]="commentPaneSize" [maxSize]="commentPaneSize" [size]="commentPaneSize">
      <app-comment-pane></app-comment-pane>
    </as-split-area>
  </as-split>
</div>