<div class="search-page" fxLayout="column" fxLayoutAlign="start center">
    <ng-template [ngIf]="query.total == 0">
        <app-search-toolbar></app-search-toolbar>
        <app-condition-panel></app-condition-panel>
    </ng-template>
    <ng-template [ngIf]="query.total > 0">
        <app-result-toolbar></app-result-toolbar>
        <app-result-table></app-result-table>
    </ng-template>
    <div class="spinner" *ngIf="isLoading == true" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</div>