<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <form class="form" [formGroup]="editorForm">
            <mat-form-field class="input-field-full-width">
                <input matInput formControlName="formFormControl">
                <button matSuffix mat-icon-button aria-label="search" (click)="search()" color="primary"
                    [disabled]="searchDisabled">
                    <mat-icon svgIcon="search"></mat-icon>
                </button>
                <button matSuffix mat-icon-button aria-label="clear" (click)="clear()" color="primary"
                    [disabled]="clearDisabled">
                    <mat-icon svgIcon="close"></mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card-header>
    <mat-card-content>
        <app-search-form-type-options></app-search-form-type-options>
        <mat-accordion multi>
            <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="author-panel mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-header-title">
                        Auctores et opera
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="spacer"></div>
                        <div *ngIf="query.headers">{{query.headers.length}}</div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-search-author-work-options></app-search-author-work-options>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle [disabled]="morphDisabled" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-header-title">
                        Morphologia
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-search-morph-options></app-search-morph-options>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>

</mat-card>
