<div class="dialog" *ngIf="data">
    <app-dialog-header title="Расширенный поиск" (close)="close()"></app-dialog-header>
    <app-dialog-content>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Поиск словоформ</mat-card-title>
            <mat-card-content>
              <form class="form" [formGroup]="optionsForm">
                <mat-radio-group aria-label="Select an option" formControlName="options" color="primary">
                    <mat-radio-button value="0">Свободная форма</mat-radio-button>
                    <mat-radio-button value="1">Точная форма</mat-radio-button>
                    <mat-radio-button value="2">Лемма</mat-radio-button>
                  </mat-radio-group>
              </form>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Морфология</mat-card-title>
            <mat-card-content>
              
            </mat-card-content>
        </mat-card>
    </app-dialog-content>
    <app-dialog-action (save)="save()"></app-dialog-action>
</div>
