<mat-card class="card" class="mat-elevation-z0">
    <mat-card-content>
        <mat-accordion multi>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        Morphologia
                        <mat-chip-list class="selected-items">
                            <mat-chip *ngFor="let item of morphItems" color="primary" [removable]="true" (removed)="removeMorphItem(item)">{{item}}
                                <mat-icon matChipRemove *ngIf="true" svgIcon="close"></mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-form-condition></app-form-condition>
                <ng-template [ngIf]="query && query.searchLemma">
                    <app-morph-condition></app-morph-condition>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        Auctores et Opera
                        <mat-chip-list class="selected-items">
                            <mat-chip *ngFor="let item of workItems" color="primary" [removable]="true" (removed)="removeWorkItem(item)">{{item.code}}
                                <mat-icon matChipRemove *ngIf="true" svgIcon="close"></mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-work-condition></app-work-condition>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>