<mat-card class="card" class="mat-elevation-z0">
    <mat-card-content>
        <mat-accordion multi>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        Morphologia
                        <span class="spacer"></span>
                        <mat-chip-list>
                            <mat-chip color="primary">{{selectedMorphItemsCount}}</mat-chip>
                        </mat-chip-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-form-condition></app-form-condition>
                <ng-template [ngIf]="query && query.searchLemma">
                    <app-morph-condition></app-morph-condition>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        Auctores et Opera
                        <span class="spacer"></span>
                        <mat-chip color="primary">{{worksCount}}</mat-chip>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-work-condition></app-work-condition>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>