.pos-view-item>.mat-list-item-content {
    justify-content: space-between !important;
}

.pos-view-item {
    height: 38px !important;
}

.pos-view-item-value {
    color: blueviolet;
}

.mat-divider {
    color: gainsboro;
    margin-left: 15px;
    margin-right: 15px;
}