<mat-card>
    <mat-toolbar>
        <button mat-icon-button class="library" aria-label="library">
            <mat-icon svgIcon="library"></mat-icon>
          </button>
        <span>Opera</span>
        <span class="spacer"></span>
        <button mat-icon-button color="primary" aria-label="Claudere" (click)="closeOpera()">
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-toolbar>
    <mat-card-content>
        <mat-radio-group *ngIf="projectGroups" [formControl]="headerSelector" color="primary" required>
            <div *ngFor="let group of projectGroups" class="example-radio-group">
                <h3>{{group.code}}</h3>
                <mat-radio-button class="example-radio-button" *ngFor="let header of group.headers" [value]="header">
                    {{header.code}}</mat-radio-button>
            </div>
        </mat-radio-group>
    </mat-card-content>
</mat-card>