<app-dialog-header title="Projects" (close)="close()"></app-dialog-header>
<mat-list>
    <mat-list-item *ngFor="let project of projects">
        <div mat-line>{{project.name}}</div>
        <div mat-line> {{project.desc}} </div>
        <button mat-icon-button (click)="edit(project)">
            <mat-icon mat-list-icon svgIcon='edit'></mat-icon>
        </button>
        <button mat-icon-button (click)="delete(project)">
            <mat-icon mat-list-icon svgIcon='delete'></mat-icon>
        </button>
        <button mat-icon-button (click)="open(project)">
            <mat-icon mat-list-icon svgIcon='folder_open'></mat-icon>
        </button>
    </mat-list-item>
</mat-list>