.morph {
    cursor: pointer;
    color: blueviolet;
}

.notmorph {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.mark {
    background: gold;
}

.note {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: firebrick;
    text-decoration-thickness: 1px;
}