.morph {
    cursor: pointer;
    color: blue;
}

.notmorph {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.mark {
    background: gold;
}