.morph {
    cursor: pointer;
    color: blueviolet;
}

.notmorph {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.mark {
    background: gold;
}

.note {
    font-style: italic;
    font-weight: 600;
}