<div style="width: 100%; height: 100%">
  <as-split [useTransition]="true" direction="horizontal">
    <as-split-area [maxSize]="searchRulePaneSize" [size]="searchRulePaneSize">
      <app-search-rules></app-search-rules>
    </as-split-area>
    <as-split-area [size]="searchResultPaneSize">
      <app-search-result></app-search-result>
    </as-split-area>
    <as-split-area [maxSize]="commentPaneSize" [size]="commentPaneSize">
      <app-comment></app-comment>
    </as-split-area>
  </as-split>
</div>
