.morph {
    cursor: pointer;
}

.notmorph {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.mark {
    background: gold;
}

.note {
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
}

.morph:hover,
.note:hover {
    border-bottom: 1px dotted blueviolet;
    color: blueviolet;
}

.mat-bottom-sheet-container {
    max-width: 200px;
}