<app-chunk-toolbar (add)="addChunk()" (edit)="editChunk()" (delete)="deleteChunk()"></app-chunk-toolbar>
<div *ngIf="index !== undefined" class="chunk-analyser-area">
    <as-split 
    direction="vertical" 
    gutterDblClickDuration="300" 
    (gutterDblClick)="areaDividerClick()"
    [useTransition]="useTransition" 
    [gutterSize]="gutterSize">
        <as-split-area class="chunk-area" [size]="chunkAreaSize" [minSize]="44.5">
           <app-chunk-viewer></app-chunk-viewer>
        </as-split-area>
        <as-split-area class="tool-area" [size]="toolAreaSize">
            
        </as-split-area>
    </as-split>
</div>
