<div class="toolbar">
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addDocumentHeader()">
            <mat-icon svgIcon="add"></mat-icon>
            <span>Add Header</span>
        </button>
        <button mat-menu-item (click)="editDocumentHeader()" [disabled]="editDisabled">
            <mat-icon svgIcon="edit"></mat-icon>
            <span>Edit Header</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="addTopIndex()" [disabled]="editDisabled">
            <mat-icon svgIcon="add_index"></mat-icon>
            <span>Add Top Index</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="deleteDocument()" [disabled]="editDisabled">
            <mat-icon svgIcon="delete"></mat-icon>
            <span>Delete Document</span>
        </button>
    </mat-menu>
</div>
