<div class="dialog">
    <app-dialog-header title="Index" (close)="close()"></app-dialog-header>
    <app-dialog-content>
        <form [formGroup]="editorForm">
            <mat-form-field *ngIf="data.parent !== undefined" class="input-field-full-width">
                <input matInput placeholder="Prefix" formControlName="prefixFormControl" readonly>
            </mat-form-field>
            <mat-form-field class="input-field-full-width">
                <input matInput placeholder="Name" formControlName="nameFormControl" required>
            </mat-form-field>
            <mat-form-field class="input-field-full-width">
                <input matInput type="number" formControlName="orderFormControl" placeholder="Order">
            </mat-form-field>
        </form>
    </app-dialog-content>
    <app-dialog-action (save)="save()" [disabled]="!editorForm.valid"></app-dialog-action>
</div>
