//Variables ===========================================================================================================
  //SIZE===
$main-container-width: 1440px;

  //MEDIA
$mobile: 375px;
$tablet: 769px;
$desktop: 1201px;

  //COLORS===
//main
$white: #ffffff;
$light-blue: #76CDD8;
$blue: #39C2D7;
$dark-blue: #008ACE;
$green: #C9DB48;
$yellow: #FFC000;
$orange: #FFA500;
$red: #F15C43;
$dark-red: #D35D47;
$pink: #E4445F;
$light-gray: #C7C7C7;
$gray: #747474;
$dark-gray: #464547;
$black: #171717;

//main bg
$main-bg: #21232E;

//header
$header-search-bg: #5B5A5B;

//Variables end =======================================================================================================
