.selector {
    width: 70px;
    text-align: center;
    margin-left: 15px;
}

.selector-title {
    margin-left: 15px;
}

.selector-item {
    text-align: center;
}

.disabled {
    color: rgba(0, 0, 0, .26);
}

.enabled {
    color: #3f51b5;
}