<div class="dialog">
    <app-dialog-header title="Text Chunk" (close)="close()"></app-dialog-header>
    <app-dialog-content>
        <form [formGroup]="editorForm">
            <mat-form-field class="input-field-full-width">
                <textarea matInput placeholder="Value" rows="6" formControlName="valueFormControl" required></textarea>
            </mat-form-field>
        </form>
    </app-dialog-content>
    <app-dialog-action (save)="save()" [disabled]="!editorForm.valid"></app-dialog-action>
</div>
